table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
}

td, th {
    padding: 5px;
}

.button {
    border-radius: 5px;
    padding: 5px;
    color: #000000;
    background-color: #EEEEEE;
    text-decoration: none;
}

.button:hover {
    background-color: #000000;
    color: #ffffff;
}
